<ion-header>
  <ion-navbar> 
        <ion-title text-center> Gun Safe </ion-title>
          <ion-buttons end>
              <button ion-button> Add </button>
              <button ion-button> Edit </button>
          </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="gunlist-wrapper">
  <ion-list class="disable-user-behavior">
    <ion-list-header class="gunlist-header">
      Guns
    </ion-list-header>
    
      <ion-item class="item" *ngFor="let gun of guns" (click)="showPrompt()">
        {{gun}}
      </ion-item>
    
    <ion-list-header class="gunlist-header">
      Favorites
    </ion-list-header>
      
      <ion-item class="item" *ngFor="let gun of guns" (click)="goToComponents()">
        {{favorites}}
      </ion-item>

    <!-- <ion-list-header>
      Action
    </ion-list-header>
    <ion-item (click)="goToComponents()">Terminator II</ion-item>
    <ion-item>The Empire Strikes Back</ion-item>
    <ion-item>Blade Runner</ion-item>
    <ion-item>Terminator II</ion-item>
    <ion-item>The Empire Strikes Back</ion-item>
    <ion-item>Blade Runner</ion-item> -->

  </ion-list>

</ion-content>
